--- 
title: Ryan Fukuda
---

<!-- Blue Section -->

<div class="section-blue">
	<div class="blue-bar"></div>
	<div class="blue-wave"></div>
	<div class="blue-left-block">
		<div class="blue-active-left">
			<p class="intro-text">
				<%= dato.homepage.hero_left_body %>
			</p>
			<div class="btn btn-black btn-blue-hover">
					<a href="#" class="projectsScroll">Explore Projects</a>
			</div>
		</div>
	</div>
	<div class="blue-right-block"></div>
</div>
<div class="blue-content">
	<h4 class="blue-title"><%= dato.homepage.left_header %></h4>
	<div class="left-arrow hvr-forward-left">
		<img src="images/right-arrow.png">
		<p>View More</p>
	</div>
</div>

<!-- Center -->
<div class="center-desc">
	<div class="ryan-symbol">
		<img src="images/ryan-symbol.png" class="symbol-blue">
		<img src="images/rf-symbol-red.png" class="symbol-red">
	</div>
		<div class="intro-desc">
			<p>Ryan is a creative producer and visionary healer living and working in San Francisco, CA. Want to learn more? Pick a side to explore more.</p>
		</div>
</div>
<div class="btn book-appointment-btn">
	<a href="#" class="bookScroll">Book An Appointment</a>
</div>
<div class="close-panel">
	<p class="close"><img src="images/x-btn.svg"></p>
</div>


<!-- Red Section -->
<div class="section-red">
	<div class="red-bar"></div>
	<div class="red-wave"></div>
	<div class="red-right-block">
		<div class="red-active-right">
			<p class="intro-text">
				<%= dato.homepage.hero_right_body %>
			</p>
			<div class="btn btn-black btn-red-hover">
					<a href="https://ryanfukuda.acuityscheduling.com/schedule.php">Book An Appointment</a>
			</div>
			<div class="btn-text">
				<a href="#" class="serviceScroll">Learn More</a>
			</div>
		</div>
	</div>
	<div class="red-left-block"></div>
</div>
<div class="red-content">
	<h4 class="red-title"><%= dato.homepage.right_header %></h4>
	<div class="right-arrow hvr-forward-right">
	<img src="images/left-arrow.png">
	<p>View More</p>
	</div>
</div>
</div>
</div>
<div class="container">
	<div class="row center-xs middle-xs">
		<div class="col-xs-10 col-sm-8">
			<p class="quote"><%= dato.quote.quote %></p>
		</div>
	</div>
</div>


<!-- Header Services -->
<section id="services">
	<div class="container-fluid">
		<div class="row center-xs middle-xs" id="services">
			<div class="col-xs-12 section-wrapper">
				<div class="section-header">
					<h2 class="serviceHeader"> Services </h2>
				</div>
			</div>
		</div>
		<!-- Service Block Energy Readings -->
		<div class="row middle-xs" id="energyTrigger">
			<div class="col-sm-6 col-xs-12 service-title energy service-block">
				<h4 class="h4-white">
					<div class="service-text-clip">
						<span class="panel-text">ENERGY</span>
					</div>
					<div class="service-text-clip">
						<span class="panel-text">READINGS</span>
				</h4>
				</div>

				<div class="col-xs-10 col-xs-offset-1 col-sm-offset-1 col-sm-4">
					<div class="service-content">
						<p class="red-text energyOne">
							<%= dato.service.energy_readings_copy %>
						</p>
						<div class="btn energy-btn energyTwo">
							<%= dato.service.energy_reading_button %>
						</div>
					</div>
				</div>
			</div>



			<div class="row center-xs">
				<div class="col-xs-12 col-sm-8">
					<div class="service-divider">
						<div class="divider-healings"></div>
					</div>
				</div>
			</div>

			<!-- Service Block Energy Healing -->

			<div class="row middle-xs" id="healingTrigger">
				<div class="col-sm-6">
					<div class="col-xs-10 col-xs-offset-1 col-sm-offset-2 col-sm-8">
						<div class="service-content">
							<p class="yellow-text healingOne"><%= dato.service.energy_healing_copy %></p>
							<div class="btn healing-btn healingTwo"><%= dato.service.energy_healing_button %>
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-6 col-xs-12 first-xs last-sm service-title healing service-block">
					<h4 class="h4-white">
						<div class="service-text-clip">
							<span class="panel-text-energy">ENERGY</span>
						</div>
						<div class="service-text-clip">
							<span class="panel-text-energy">HEALINGS</span>
					</h4>
					</div>
				</div>
				<div class="row center-xs">
					<div class="col-xs-12 col-sm-8">
						<div class="service-divider workshop-divider-trigger">
							<div class="divider-workshops"></div>
						</div>
					</div>
				</div>

				<!-- Service Block Workshop and Classes -->

				<div class="row middle-xs" id="workshopTrigger">
					<div class="col-sm-6 col-xs-12 service-title workshops service-block">
						<h4 class="h4-white">
							<div class="service-text-clip">
								<span class="panel-text-workshop">Online</span>
							</div>
							<div class="service-text-clip">
								<span class="panel-text-workshop">Classes</span>
							</div>
							<div class="service-text-clip">
								<span class="panel-text-workshop">& Trainings</span>
						</h4>
						</div>
						<div class="col-xs-10 col-xs-offset-1 col-sm-offset-1 col-sm-4">
							<div class="service-content">
								<p class="red-text workshopOne"><%= dato.service.classes_and_training_copy %></p>
								<div class="btn workshop-btn workshopTwo">
									<%= dato.service.classes_and_training_button %>
								</div>
							</div>
						</div>
					</div>
					<div class="row center-xs">
						<div class="col-xs-12 col-sm-8">
							<div class="service-divider events-divider-trigger">
								<div class="divider-events"></div>
							</div>
						</div>
					</div>

					<!-- Service Block Events -->

					<div class="row middle-xs" id="eventTrigger">
						<div class="col-sm-6">
							<div class="col-xs-10 col-xs-offset-1 col-sm-offset-2 col-sm-8">
								<div class="service-content">
									<p class="yellow-text eventOne"><%= dato.service.workshops_events_copy %></p>
									<div class="btn events-btn eventTwo">
										<%= dato.service.workshops_events_button %>
									</div>
								</div>
							</div>
						</div>
						<div class="col-sm-6 col-xs-12 first-xs last-sm service-title events service-block">
							<h4 class="h4-white">
								<div class="service-text-clip">
									<span class="panel-text-events">Psychic</span>
								</div>
								<div class="service-text-clip">
									<span class="panel-text-events">Workshops</span>
								</div>
								<div class="service-text-clip">
									<span class="panel-text-events">& Events</span>
								</div>
							</h4>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="container-fluid">
			<div class="row center-xs middle-xs" id="ventures">
				<div class="col-xs-12 section-wrapper">
					<div class="section-header">
						<h2 class="ventureHeader"> Ventures </h2>
					</div>
				</div>
			</div>
			<section id="services">
				<!-- Venture One -->
				<div class="row">
					<div class="col-sm-6 ventures">
						<img src="<%= dato.venture.venture_one_image %>">
						<div class="col-sm-offset-2 col-sm-8 col-xs-offset-1 col-xs-10 venture-description" id="ventureTrigger">
							<h3 class="venture-one"><%= dato.venture.venture_one_header %></h3>
							<h4 class="venture-two"><%= dato.venture.venture_one_subheader %></h4>
							<p class="venture-three"><%= dato.venture.venture_one_copy %></p>
							<div class="btn primary-btn venture-four">
								<%= dato.venture.venture_one_button %>
							</div>
						</div>
					</div>

					<!-- Venture Two -->

					<div class="col-sm-6 ventures">
						<img src="<%= dato.venture.venture_two_image %>">
						<div class="col-sm-offset-2 col-sm-8 col-xs-offset-1 col-xs-10  venture-description">
							<h3 class="venture-five"><%= dato.venture.venture_two_header %></h3>
							<h4 class="venture-six"><%= dato.venture.venture_two_subheader %></h4>
							<p class="venture-seven"><%= dato.venture.venture_two_copy %> </p>
							<div class="btn primary-btn venture-eight">
								<%= dato.venture.venture_two_button %>
							</div>
						</div>
					</div>
				</div>
		</div>
		</section>
		<section id="blog">
			<div class="container-fluid">
				<div class="row center-xs middle-xs" id="blogHeader">
					<div class="col-xs-12 section-wrapper">
						<div class="section-header">
							<h2 class="blogHeader">Blog</h2>
						</div>
					</div>
				</div>
				<div class="row middle-xs blog" id="blogTrigger">
					<div class="col-xs-offset-2 col-xs-6 col-sm-2">
						<img src="images/TOTM-Logo.png">
					</div>
					<div class="col-xs-offset-2 col-xs-8 col-sm-4">
						<h3 class="white-text blogStagger">THOUGHTS</h3>
						<p class="white-text blogStagger">A Medium.com publication created to promote unconventional perspectives on all types of compelling subjects that inspire
							new actions and considerations in the world. My commitment with this publication is to investigate the truth of ideas
							through the lens of fearless creatives that provoke inspiration and benefit all who read it.
						</p>
						<div class="btn btn-white blogStagger">
							<a href="https://medium.com/truth-of-the-matter">My Latest Thoughts</a>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section id="contact">
			<div class="container-fluid">
				<div class="row center-xs middle-xs" id="contact">
					<div class="col-xs-12 col-sm-12 section-wrapper">
						<div class="section-header">
							<h2 class="contactHeader"> Contact</h2>
						</div>
					</div>
				</div>
			</div>
			<div class="container contact">
				<div class="row">
					<div class="col-xs-8 col-xs-offset-2 col-sm-4 col-sm-offset-4">
						<p class="contact-desc">What are you interested in? Select one below to inquire.</p>
					</div>
				</div>
				<div class="row contact-row">

					<div class="col-sm-4 col-xs-12 contact-col">
						<div class="contact-icon">
							<img src="images/contact-icons/corporate.png">
						</div>
						<a href="mailto:ryan@ryanfukuda.com?subject=Corporate Inquiry" class="contact-list">Corporate</a>
					</div>
					<div class="col-sm-4 col-xs-12 contact-col">
						<div class="contact-icon">
							<img src="images/contact-icons/creative-project.png">
						</div>
						<a href="mailto:ryan@ryanfukuda.com?subject=Creative Project Inquiery" class="contact-list">Creative Project</a>

					</div>
					<div class="col-sm-4 col-xs-12 contact-col">
						<div class="contact-icon">
							<img src="images/contact-icons/event-bookings.png">
						</div>
						<a href="mailto:ryan@ryanfukuda.com?subject=Event Bookings" class="contact-list">Event Bookings</a>
					</div>
				</div>
				<div class="row contact-row">
					<div class="col-sm-4 col-xs-12 contact-col">
						<div class="contact-icon">
							<img src="images/contact-icons/general.png">
						</div>
						<a href="mailto:ryan@ryanfukuda.com?subject=General" class="contact-list">General</a>
					</div>
					<div class="col-sm-4 col-xs-12 contact-col">
						<div class="contact-icon">
							<img src="images/contact-icons/psychic-healing.png">
						</div>
						<a href="mailto:ryan@ryanfukuda.com?subject=Psychic / Healing Sessions" class="contact-list">Psychic / Healing Sessions</a>
					</div>
					<div class="col-sm-4 col-xs-12 contact-col">
						<div class="contact-icon">
							<img src="images/contact-icons/workshops-classes.png">
						</div>
						<a href="mailto:ryan@ryanfukuda.com?subject=Workshops And Classes" class="contact-list">Workshops and Classes</a>
					</div>
				</div>
			</div>
	</div>
	</section>